<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Personal Assistant</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
     {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<main class="container">

    <nav>
        <ul style="display: flex; justify-content: space-between; width: 100%; margin-bottom:36px;">
            <li style="padding-top:0px; padding-bottom:0px">
                <a href="/" style="text-decoration: none; font-size: 24px;">Personal Assistant</a>
            </li>

            {% if user.is_authenticated %}

            <li style="padding-top:0px; padding-bottom:0px">
                <a href="/contacts" style="text-decoration: none; font-size: 16px;">Contacts</a>
            </li>
            <li style="padding-top:0px; padding-bottom:0px">
                <a class="" href="/notes" style="text-decoration: none; font-size: 16px;">Notes</a>

            </li>

            <li style="padding-top:0px; padding-bottom:0px">
                <a class="" href="/files" style="text-decoration: none; font-size: 16px;">Files</a>

            </li>

             <li style="padding-top:0px; padding-bottom:0px">
                <a class="" href="" style="text-decoration: none; font-size: 16px;">Chat</a>

            </li>

             <li style="padding-top:0px; padding-bottom:0px">
                <a class="" href="{% url 'calendar:calendar_view' %}" style="text-decoration: none; font-size: 16px;">Diary</a>

            </li>

            {% endif %}

             <li style="padding-top:0px; padding-bottom:0px">
                <a class="" href="/chat" style="text-decoration: none; font-size: 16px;">Ai chat</a>

            </li>

            <li style="padding-top:0px; padding-bottom:0px">
                <ul>
                    {% if not user.is_authenticated %}
                    <li style="padding-top:0px; padding-bottom:0px"><a href="{% url 'users:signup' %}" style="text-decoration: none; font-size: 16px;">Sign Up</a></li>
                    <li style="padding-top:0px; padding-bottom:0px"><a href="{% url 'users:login' %}" style="text-decoration: none; font-size: 16px;">Login</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li style="padding-top:0px; padding-bottom:0px"><a href="{% url 'users:logout' %}" style="text-decoration: none; font-size: 16px;">Log Out</a></li>
                    <li style="padding-top:0px; padding-bottom:0px"><a href="{% url 'users:profile' %}" style="text-decoration: none; font-size: 16px;">Profile</a></li>
                    {% endif %}
                </ul>
            </li>

        </ul>

    </nav>

    {% block content %} {% endblock %}

{% include "news/news.html" %}

</main>

</body>
</html>