<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Personal Assistant</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
     {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<main class="container">
    <h1>Personal Assistant</h1>
    <nav>
        <ul>
            <li>
                <a href="/contacts" role="button">CONTACTS</a>
            </li>
<!--            <li>-->
<!--                <a class="" href="/add_author" role="button">NOTES</a>-->

<!--            </li>-->

        </ul>

    </nav>

    {% block content %} {% endblock %}

</main>

</body>
</html>